<% include partials/header %>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8 align-self-center text-center">
			<h1>Look smart, pimp up your address card</h1>
		</div>
		<div class="col-md-2 align-self-center text-center">
			<span id="symb_card"><a href="/address/create"><i class="fas fa-address-card"></i></a></span>
			<span id="symb_hover">Nieuw adres toevoegen</span>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-10 align-self-center text-center">
			<div class="card">
				<div class="card-header">Smart card examples</div>
				<div class="card-body">
					<% for (i=0;i<addresses.length;i++) { %>
					<div class="visitekaartje">
						<%= addresses[i].name %><br>
						<%= addresses[i].address %><br>
						<%= addresses[i].zipcode %><br>
						<%= addresses[i].city %><br>
						<%= addresses[i].country %><br>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>


<% include partials/footer %>